*{
    padding: 0%;
    margin: 0%;
    background-color: white;
}
.swy{
    width: 250px;
    height: 150px;
    margin-left: 0%;

}
.buton{
margin-left: 50px;
}
.bt{
    margin-left: 10px;
    border-radius: 20px;
    width: 100px;
    height: 50px;
    margin-top: 20px;
}

.firstimg{
    width: 50%;
    height: 600px;
    
    display: flex;
}
.first{
    display: flex;

}
.btn{
align-items: center;
margin-left: 20px;

}